BEM/
General/
Measurement/
*.txt
*.exe
*.asv
*.mexw32
extended_field.m
extended_field_BGn.m
extended_field_matbeam.m
extended_field_opt.m
extended_field_T.m
prony_coeff.m
spatial_locally.m
alpha_analitico_JCAL.m
bazley_alpha_fit.m
bazley_alpha_fit2.m
bazley_Z_fit.m
biot_dazel_poroelastic.m
JCAL_Flexivel.m
Johnson_Lafarge.m
Johnson_Lafarge_resfit.m
Z_Allard_theta.m
Zmembrane.m
Field_Z_Grad.m
Field_Z_Grad2.m
Impedance_Estimate_PU.m
multi_optim_kp.m
multi_optim_lsq.m
multi_optim_lsq_r.m
objfun.m
objfun_lsq.m
objfun_lsq_r.m
objfun2.m
Z_Fterm.m
Z_PWA.m
Z_PWA_normal.m
Z_qterm_prony.m
Z_qterm_quad.m
Z_qterm_quad_22.m
Z_qterm_quad_33.m
Z_qterm_quad_beta.m




